<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ECOMALKI</title>
    @*@Styles.Render("~/Content/css")*@

    @Styles.Render("~/Content/css/nav/nav.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav>

        <img src="~/Models/Icons/icon_menu.svg " alt="menu" class="menu" />
     
        <div class="navbar-left">
            <img src="~/Models/Logos/logo-icon-render.jpg" alt="logo" class="logo" />
            <ul @*class="nav navbar-nav"*@>

                <li>@Html.ActionLink("PERSONAL", "RegistrarUsuario", "Acceso")</li>
                <li>@Html.ActionLink("INICIO", "Index", "Home")</li>
                <li>@Html.ActionLink("NOSOTROS", "About", "Home")</li>
                <li>@Html.ActionLink("CATÁLOGO", "Contact", "Home")</li>
                @*<li>@Html.ActionLink("SALIR", "CerrarSesion", "Home")</li>*@
                <li>@Html.ActionLink("Otros", "Contact", "Home")</li>

            </ul>
        </div>
        <div class="navbar-right">
            <ul class="">
                <li class="navbar-email" > usuario</li>
              
                <li class="navbar-shopping-cart">
                <img src="~/Models/Icons/icon_shopping_cart.svg" alt="carrito" />  
                <div> 2</div >  

                </li>
                
            </ul>
           
        </div>
    </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>

    <!--<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de la aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Cliente", "ListarCliente", "MantenedorCliente")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>-->
                @*<li>@Html.ActionLink("Regístrate", "RegistrarUsuario", "Acceso")</li>*@
                <!--<li>@Html.ActionLink("Cerrar Sesión", "CerrarSesion", "Home")</li>

                </ul>
            </div>
        </div>
    </div>-->


